@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #343a40;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #ffffff;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 100%;
}
.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #6184a8; 
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active
{
    width: 80px;
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover
{
    background-color:#dedce8;
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #FFFF;
}
.navigation ul li:hover a
{
    color: #5083b7;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 74px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
    font-size: 1.75em;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/*main*/
.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: white;
    transition: 0.5s;
}
.main.active
{
    width: calc(100% - 80px);
    left: 80px;
}
.topbar
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.menu
{
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search
{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label
{
    position: relative;
    width: 100%;
}

.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 15px;
    outline: none;
    border: 1px solid black;
}
.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.user
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBox
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.cardBox .card
{
    position: relative;
    background: #f2e7e4;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.cardBox .card .cardName
{
    color: #000000;
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBox .card .iconBx
{
    font-size: 2.5em;
    color: rgb(0, 34, 252);
}
.cardBox .card:hover
{
    background: rgb(131, 197, 252);
}
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx
{
    color: white;
}

.details
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

.details .Donate
{
    position: relative;
    display: grid;
    min-height: 500px;
    background: #edebe7;
    padding: 20px;
    border-radius: 10px;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header h2
{
    font-weight: 600;
    color: blue;
}

.btn
{
    position: relative;
    padding: 5px 10px;
    background: blue;
    text-decoration: none;
    color: white;
    border-radius: 6px;
}

.details table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td
{
    font-weight: 600;
}

.details .Donate table tr
{
    color: #000000;
    border-bottom: 1px solid black;
}

.details .Donate table tbody tr:hover
{
    background: blue;
    color: white;
}
.details .Donate table tr td
{
    padding: 10px;
}
.details .Donate table tr td:last-child
{
    text-align: end;
}
.details .Donate table tr td:nth-child(2)
{
    text-align: end;
}
.details .Donate table tr td:nth-child(3)
{
    text-align: end;
}
.Customers
{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: #edebe7;
    border-radius: 10px;
}

@media (max-width: 991px)
{
    .navigation
    {
        left: -300px;
    }
    .main
    {
        width: 100%;
    }
}